.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.wrapper__active {
  background-color: #78c2d3;
}
.wrapper__reject {
  background-color: #e03756;
}

.logo {
  width: 100%;
  height: 100%;
}

.message,
.settings {
  color: #414242;
  font-size: 0.85em;
  font-family: var(--code-font);
}

.message {
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  width: 70vw;
  border: 0;
  background: transparent;
  height: 70px;
  outline: 0;
  padding: 1em;
  transform: translateX(-50%);
}

.output {
  height: 30vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  font-family: var(--code-font);
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  z-index: 10;
  overflow: hidden;
}

.code {
  height: 100%;
  tab-size: 4;
  overflow: auto;
  line-height: 1.5;
  color: #414242;
  margin: 0;
}

.code code {
  white-space: pre-wrap;
  display: block;
  margin-bottom: 1em;
  font-size: 0.85em;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.show {
  transform: translateY(0);
  padding: 35px 30px 20px;
  border-top: 1px solid #f5f5f7;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
}

.github_logo {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 20;
}

.codepen_btn {
  margin: 0;
  padding: 0;
  border: 0;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  cursor: pointer;
  margin: 0 0.5em;
}

.codepen_form {
  display: inline-block;
  vertical-align: middle;
}

.error {
  position: absolute;
  top: 7px;
  text-align: center;
  font-size: 0.7em;
  right: 0;
  left: 0;
  color: #e03756;
}

.settings {
  position: fixed;
  z-index: 21;
  padding: 0 1em;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.settings > * {
  margin-bottom: 0.5em;
}

:root {
  --o: 0.2;
}

.settings input[type='text'],
.settings textarea {
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-family: monospace;
  border-left: 3px solid rgba(255, 0, 255, var(--o));
  padding-left: 1em;
  outline: 0;
  margin-left: 1em;
  transition: 0.3s;
}

.settings input[type='text']:focus,
.settings textarea:focus {
  --o: 1;
}
